/*
Error: Undefined mixin 'font-title'.
        on line 24 of E:\Software\xampp\htdocs\estefania\cervezas\template\scss\footer.scss, in `font-title'
        from line 24 of E:\Software\xampp\htdocs\estefania\cervezas\template\scss\footer.scss

19:   h2{
20:     font-size: 1em;
21:     text-transform: uppercase;
22:     text-align: center;
23:     position: relative;
24:     @include font-title(600);
25:     letter-spacing: 1px;
26:     margin-bottom: 30px;
27:     color: $font-marron;
28:     span{
29:       font-size: 3em;

Backtrace:
E:\Software\xampp\htdocs\estefania\cervezas\template\scss\footer.scss:24:in `font-title'
E:\Software\xampp\htdocs\estefania\cervezas\template\scss\footer.scss:24
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:338:in `block in visit_mixin'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:98:in `block in with_mixin'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:98:in `with_mixin'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:336:in `visit_mixin'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
E:/Software/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
E:/Software/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
E:/Software/Koala/bin/sass:18:in `load'
E:/Software/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'font-title'.\A         on line 24 of E:\Software\xampp\htdocs\estefania\cervezas\template\scss\footer.scss, in `font-title'\A         from line 24 of E:\Software\xampp\htdocs\estefania\cervezas\template\scss\footer.scss\A \A 19:   h2{\A 20:     font-size: 1em;\A 21:     text-transform: uppercase;\A 22:     text-align: center;\A 23:     position: relative;\A 24:     @include font-title(600);\A 25:     letter-spacing: 1px;\A 26:     margin-bottom: 30px;\A 27:     color: $font-marron;\A 28:     span{\A 29:       font-size: 3em;"; }
