* {
  padding: 0;
  margin: 0; }

.container-fluid {
  max-width: 1280px; }
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 50px;
      padding-right: 50px; } }

html, body {
  height: 100%; }

body {
  font-size: 20px;
  font-family: "Cabin", sans-serif; }
  @media (max-width: 768px) {
    body {
      font-size: 17px; } }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #ffde0a; }
  #loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

header {
  background: #ecd450;
  height: 110px;
  position: relative; }
  header h1 {
    margin: 0;
    text-indent: -10000px;
    background-image: url("../images/logotipo.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: cover;
    width: 203.99px;
    height: 61.349px;
    margin: 35px 0 0 88px; }
    @media (max-width: 768px) {
      header h1 {
        margin: 25px 0 0 0; } }
    @media (max-width: 425px) {
      header h1 {
        margin: 35px 0 0 0;
        width: 150px;
        height: 45px; } }
  header #main-menu {
    padding: 0;
    margin: 50px 174px 0 0; }
    @media (max-width: 768px) {
      header #main-menu {
        display: none; } }
    header #main-menu li {
      list-style: none;
      float: left; }
      header #main-menu li a {
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 0 11.5px;
        color: #3c392a;
        font-family: "Cabin", sans-serif;
        font-weight: 700; }
        header #main-menu li a:hover, header #main-menu li a:focus {
          text-decoration: none;
          color: #3c392a; }
  header .border-bottom {
    position: absolute;
    background-image: url("../images/border-header.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1; }
  header .menu-burguer {
    position: absolute;
    right: 50px;
    top: 35px;
    opacity: 1;
    display: none; }
    @media (max-width: 768px) {
      header .menu-burguer {
        display: block; } }
    header .menu-burguer img {
      width: 40px; }
  header .menu-burguer.open {
    position: absolute;
    left: -50px;
    top: 50px;
    opacity: 0;
    display: none; }

#menu-responsive {
  position: fixed;
  top: 0px;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #ecd450;
  transition: all 0.5s ease; }
  @media (max-width: 768px) {
    #menu-responsive {
      display: block; } }
  #menu-responsive .menu-close {
    position: absolute;
    right: 50px;
    top: 35px;
    opacity: 0; }
  #menu-responsive ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 425px) {
      #menu-responsive ul {
        width: calc(100% - 100px); } }
    #menu-responsive ul li {
      list-style: none; }
      #menu-responsive ul li a {
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 10px;
        color: #3c392a;
        font-family: "Cabin", sans-serif;
        font-weight: 700;
        text-align: center;
        display: block; }
        #menu-responsive ul li a:hover, #menu-responsive ul li a:focus {
          text-decoration: none;
          color: #3c392a; }
        @media (max-width: 425px) {
          #menu-responsive ul li a {
            font-size: 1.1em; } }

#menu-responsive.open {
  right: 0px; }
  #menu-responsive.open .menu-close {
    position: absolute;
    right: 50px;
    top: 35px;
    opacity: 1; }
    #menu-responsive.open .menu-close img {
      width: 50px; }

#slider {
  position: relative;
  min-height: 382px;
  background: #fff; }
  #slider .container-fluid {
    max-width: 996px;
    position: relative;
    height: 380px; }
    #slider .container-fluid .text {
      position: absolute;
      height: 100%;
      width: 68%;
      top: 0px;
      left: 0px; }
      @media (max-width: 425px) {
        #slider .container-fluid .text {
          width: 100%; } }
      #slider .container-fluid .text p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.7em;
        color: #3c392a;
        font-family: "Cabin", sans-serif;
        width: 724px;
        font-weight: 700; }
        @media (max-width: 768px) {
          #slider .container-fluid .text p {
            font-size: 1.5em; } }
        @media (max-width: 425px) {
          #slider .container-fluid .text p {
            font-size: 1.2em;
            width: calc(100% - 100px); } }
    #slider .container-fluid .image {
      position: absolute;
      height: 100%;
      width: 32%;
      top: 0px;
      right: 0px; }
      #slider .container-fluid .image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        @media (max-width: 768px) {
          #slider .container-fluid .image img {
            width: 70%; } }
  #slider .border-bottom {
    position: absolute;
    background-image: url("../images/border-slider.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1; }

#parallax-only {
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/noche2.jpg");
  height: 485px;
  position: relative; }
  @media (max-width: 768px) {
    #parallax-only {
      height: 350px; } }
  @media (max-width: 425px) {
    #parallax-only {
      display: none; } }
  #parallax-only .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
    #parallax-only .overlay img {
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

#myCarousel {
  height: 485px; }
  @media (max-width: 768px) {
    #myCarousel {
      height: 300px; } }
  #myCarousel .item img {
    width: 100%; }
    #myCarousel .item img:focus {
      outline: initial; }
  #myCarousel .carousel-control .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    #myCarousel .carousel-control .arrow img {
      width: 50px; }

#nosotros .left {
  float: left;
  background: #97bebf;
  height: 440px;
  position: relative;
  width: 50%; }
  @media (max-width: 425px) {
    #nosotros .left {
      width: 100%;
      height: 336px; } }
  #nosotros .left .border-top {
    position: absolute;
    background-image: url("../images/nosotros-top-blue.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -32px;
    z-index: 1; }
    @media (max-width: 425px) {
      #nosotros .left .border-top {
        top: -16px; } }
  #nosotros .left .border-bottom {
    position: absolute;
    background-image: url("../images/nosotros-top-blue.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: cover;
    width: 100%;
    height: 32px;
    bottom: -16px;
    z-index: 1; }
  #nosotros .left .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 425px) {
      #nosotros .left .text {
        width: calc(100% - 100px); } }
    #nosotros .left .text h2 {
      font-family: "Cabin", sans-serif;
      font-size: 1.5em;
      color: #fff;
      text-transform: uppercase; }
    #nosotros .left .text p {
      font-size: 1em;
      font-family: "Cabin", sans-serif;
      color: #fff; }
#nosotros .right {
  float: right;
  background: #ecd450;
  height: 440px;
  position: relative;
  width: 50%; }
  @media (max-width: 425px) {
    #nosotros .right {
      width: 100%;
      height: 336px; } }
  #nosotros .right .border-top {
    position: absolute;
    background-image: url("../images/nosotros-top-yellow.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -32px;
    z-index: 1; }
    @media (max-width: 425px) {
      #nosotros .right .border-top {
        top: -16px; } }
  #nosotros .right .border-bottom {
    position: absolute;
    background-image: url("../images/nosotros-top-yellow.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: cover;
    width: 100%;
    height: 32px;
    bottom: -16px;
    z-index: 1; }
  #nosotros .right img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 470px;
    left: 57px; }
    @media (max-width: 768px) {
      #nosotros .right img {
        width: 276px; } }
    @media (max-width: 425px) {
      #nosotros .right img {
        left: 50px;
        width: calc(100% - 100px); } }

#fotos .left {
  float: left;
  position: relative;
  width: 50%;
  background-size: cover;
  background-position: right;
  background-image: url("../images/rubia.jpg");
  height: 515px; }
  @media (max-width: 768px) {
    #fotos .left {
      background-position: -76px 0px; } }
  @media (max-width: 425px) {
    #fotos .left {
      width: 100%; } }
  #fotos .left div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #fotos .left div h2 {
      color: #fff;
      font-size: 1em;
      text-transform: uppercase;
      font-family: "Cabin", sans-serif; }
      #fotos .left div h2 span {
        font-size: 3em; }
        @media (max-width: 425px) {
          #fotos .left div h2 span {
            font-size: 2em; } }
#fotos .right {
  float: right;
  position: relative;
  width: 50%;
  height: 515px;
  background: #5c8283; }
  @media (max-width: 425px) {
    #fotos .right {
      width: 100%; } }
  #fotos .right div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px; }
    @media (max-width: 425px) {
      #fotos .right div {
        left: 50px;
        width: calc(100% - 100px); } }
    #fotos .right div h2 {
      font-family: "Cabin", sans-serif;
      font-size: 1.5em;
      color: #fff;
      text-transform: uppercase; }
    #fotos .right div p {
      font-size: 1em;
      font-family: "Cabin", sans-serif;
      color: #fff;
      margin: 0; }
    #fotos .right div ul li {
      list-style: none;
      font-size: 1em;
      font-family: "Cabin", sans-serif;
      color: #fff; }

#maestro-cervecero {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center; }
  #maestro-cervecero h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #maestro-cervecero h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
      @media (max-width: 425px) {
        #maestro-cervecero h2 span {
          font-size: 2em; } }
  #maestro-cervecero .border-top {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #maestro-cervecero p {
    color: #3c392a; }
  #maestro-cervecero .container-proceso {
    display: table;
    margin: 60px auto 60px auto; }
    @media (max-width: 768px) {
      #maestro-cervecero .container-proceso {
        margin: 60px auto 60px auto;
        width: 100%; } }
    #maestro-cervecero .container-proceso .box-proceso {
      display: block;
      margin: 0 25px 0 25px;
      height: 368px;
      float: left; }
      @media (max-width: 768px) {
        #maestro-cervecero .container-proceso .box-proceso {
          width: calc(33% - 48px); } }
      @media (max-width: 425px) {
        #maestro-cervecero .container-proceso .box-proceso {
          width: 100%;
          float: none;
          margin: 0; } }
      #maestro-cervecero .container-proceso .box-proceso img {
        margin-bottom: 50px; }
      #maestro-cervecero .container-proceso .box-proceso p {
        font-size: 0.85em;
        text-align: left; }

#nuestras-cervezas {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center;
  background: #ecd450; }
  #nuestras-cervezas h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #nuestras-cervezas h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
      @media (max-width: 425px) {
        #nuestras-cervezas h2 span {
          font-size: 2em; } }
  #nuestras-cervezas .border-top {
    position: absolute;
    background-image: url("../images/border-nuestras-cervezas-top.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #nuestras-cervezas .col-xs-12:first-child {
    margin-bottom: 60px; }

#contacto {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center; }
  #contacto h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #contacto h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
      @media (max-width: 425px) {
        #contacto h2 span {
          font-size: 2em; } }
  #contacto .border-top {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #contacto .info-contacto {
    display: table;
    margin: 0 auto 30px auto; }
    #contacto .info-contacto .pull-left p {
      text-align: center;
      font-size: 1.1em;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      margin: 0; }
      #contacto .info-contacto .pull-left p a {
        color: #3f3a36; }
        #contacto .info-contacto .pull-left p a:hover {
          text-decoration: none; }
    #contacto .info-contacto .separe {
      margin-left: 50px; }
      #contacto .info-contacto .separe a {
        margin-top: 10px;
        display: inline-block; }
  #contacto .container-form {
    max-width: 1000px; }
    #contacto .container-form input, #contacto .container-form textarea {
      background-image: url("../images/bg-input.png");
      width: 100%;
      border: none;
      text-indent: 50px;
      padding: 28px 0;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      font-size: 1.1em;
      color: #423932;
      margin-bottom: 13px; }
      #contacto .container-form input:focus, #contacto .container-form textarea:focus {
        outline: initial; }
      @media (max-width: 425px) {
        #contacto .container-form input, #contacto .container-form textarea {
          font-size: 0.9em;
          text-indent: 20px; } }
    #contacto .container-form input::-webkit-input-placeholder, #contacto .container-form textarea::-webkit-input-placeholder {
      color: #423932; }
      @media (max-width: 425px) {
        #contacto .container-form input::-webkit-input-placeholder, #contacto .container-form textarea::-webkit-input-placeholder {
          font-size: 1em; } }
    #contacto .container-form input::-moz-placeholder, #contacto .container-form textarea::-moz-placeholder {
      color: #423932; }
      @media (max-width: 425px) {
        #contacto .container-form input::-moz-placeholder, #contacto .container-form textarea::-moz-placeholder {
          font-size: 1em; } }
    #contacto .container-form input:-ms-input-placeholder, #contacto .container-form textarea:-ms-input-placeholder {
      color: #423932; }
      @media (max-width: 425px) {
        #contacto .container-form input:-ms-input-placeholder, #contacto .container-form textarea:-ms-input-placeholder {
          font-size: 1em; } }
    #contacto .container-form input:-moz-placeholder, #contacto .container-form textarea:-moz-placeholder {
      color: #423932; }
      @media (max-width: 425px) {
        #contacto .container-form input:-moz-placeholder, #contacto .container-form textarea:-moz-placeholder {
          font-size: 1em; } }
    #contacto .container-form .input-tel {
      width: 40%;
      float: left; }
      @media (max-width: 425px) {
        #contacto .container-form .input-tel {
          width: 100%; } }
    #contacto .container-form .input-mail {
      width: calc(60% - 13px);
      float: right; }
      @media (max-width: 425px) {
        #contacto .container-form .input-mail {
          width: 100%; } }
    #contacto .container-form textarea {
      height: 170px; }
    #contacto .container-form .btn-form {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      color: #3c392a;
      font-size: 1.5em; }
      #contacto .container-form .btn-form:hover {
        text-decoration: none; }
      #contacto .container-form .btn-form img {
        position: relative;
        top: -2px; }
  #contacto .border-bottom {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    bottom: -16px;
    z-index: 1;
    left: 0;
    transform: rotate(180deg); }

#donde-estamos {
  padding: 40px 0 0 0;
  clear: both;
  position: relative;
  text-align: center; }
  #donde-estamos h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #donde-estamos h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
      @media (max-width: 425px) {
        #donde-estamos h2 span {
          font-size: 2em; } }
  #donde-estamos .border-top {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #donde-estamos #map {
    width: 100%;
    height: 500px; }

.title img {
  height: 120px; }

footer {
  position: relative;
  background: #ecd450;
  text-align: center;
  min-height: 380px;
  padding-bottom: 40px; }
  footer .border-top {
    position: absolute;
    background-image: url("../images/border-nuestras-cervezas-top.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  footer h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 113px;
    color: #3c392a; }
    footer h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
      @media (max-width: 425px) {
        footer h2 span {
          font-size: 2em; } }
  footer .footer-logo {
    width: 233px;
    margin: auto; }
  footer .share {
    display: table;
    margin: auto; }
    footer .share img {
      display: inline-block; }
  footer p {
    text-align: center;
    font-size: 1.1em;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    margin: 0; }
    footer p a {
      color: #3f3a36; }
      footer p a:hover {
        color: #3f3a36;
        text-decoration: none; }

/*# sourceMappingURL=master.css.map */
