* {
  padding: 0;
  margin: 0; }

.container-fluid {
  max-width: 1280px; }

html, body {
  height: 100%; }

body {
  font-size: 20px;
  font-family: "Cabin", sans-serif; }

header {
  background: #ecd450;
  height: 110px;
  position: relative; }
  header h1 {
    margin: 0;
    text-indent: -10000px;
    background-image: url("../images/logotipo.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 203.99px;
    height: 61.349px;
    margin: 35px 0 0 88px; }
  header #main-menu {
    padding: 0;
    margin: 50px 174px 0 0; }
    header #main-menu li {
      list-style: none;
      float: left; }
      header #main-menu li a {
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 0 11.5px;
        color: #3c392a; }
        header #main-menu li a:hover, header #main-menu li a:focus {
          text-decoration: none;
          color: #3c392a; }
  header .border-bottom {
    position: absolute;
    background-image: url("../images/border-header.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1; }

#slider {
  position: relative;
  min-height: 382px;
  background: #fff; }
  #slider .container-fluid {
    max-width: 996px;
    position: relative;
    height: 380px; }
    #slider .container-fluid .text {
      position: absolute;
      height: 100%;
      width: 68%;
      top: 0px;
      left: 0px; }
      #slider .container-fluid .text p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 1.7em;
        color: #3c392a;
        font-family: "Cabin", sans-serif;
        width: 724px; }
    #slider .container-fluid .image {
      position: absolute;
      height: 100%;
      width: 32%;
      top: 0px;
      right: 0px; }
      #slider .container-fluid .image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  #slider .border-bottom {
    position: absolute;
    background-image: url("../images/border-slider.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1; }

#parallax-only {
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/noche2.jpg");
  height: 485px; }

#nosotros .left {
  float: left;
  background: #97bebf;
  height: 440px;
  position: relative;
  width: 50%; }
  #nosotros .left .border-top {
    position: absolute;
    background-image: url("../images/nosotros-top-blue.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -32px;
    z-index: 1; }
  #nosotros .left .border-bottom {
    position: absolute;
    background-image: url("../images/nosotros-top-blue.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: cover;
    width: 100%;
    height: 32px;
    bottom: -16px;
    z-index: 1; }
  #nosotros .left .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #nosotros .left .text h2 {
      font-family: "Cabin", sans-serif;
      font-size: 1.5em;
      color: #fff; }
    #nosotros .left .text p {
      font-size: 20px;
      font-family: "Cabin", sans-serif;
      color: #fff; }
#nosotros .right {
  float: right;
  background: #ecd450;
  height: 440px;
  position: relative;
  width: 50%; }
  #nosotros .right .border-top {
    position: absolute;
    background-image: url("../images/nosotros-top-yellow.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -32px;
    z-index: 1; }
  #nosotros .right .border-bottom {
    position: absolute;
    background-image: url("../images/nosotros-top-yellow.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: cover;
    width: 100%;
    height: 32px;
    bottom: -16px;
    z-index: 1; }
  #nosotros .right img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 470px;
    left: 57px; }

#fotos .left {
  float: left;
  position: relative;
  width: 50%;
  background-size: cover;
  background-position: right;
  background-image: url("../images/rubia.jpg");
  height: 515px; }
  #fotos .left div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #fotos .left div h2 {
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      font-family: "Cabin", sans-serif; }
      #fotos .left div h2 span {
        font-size: 3em; }
#fotos .right {
  float: right;
  position: relative;
  width: 50%;
  height: 515px;
  background: #5c8283; }
  #fotos .right div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120px; }
    #fotos .right div h2 {
      font-family: "Cabin", sans-serif;
      font-size: 1.5em;
      color: #fff;
      text-transform: uppercase; }
    #fotos .right div p {
      font-size: 20px;
      font-family: "Cabin", sans-serif;
      color: #fff;
      margin: 0; }
    #fotos .right div ul li {
      list-style: none;
      font-size: 20px;
      font-family: "Cabin", sans-serif;
      color: #fff; }

#maestro-cervecero {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center; }
  #maestro-cervecero h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #maestro-cervecero h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
    #maestro-cervecero h2::before {
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #maestro-cervecero .border-top {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #maestro-cervecero p {
    color: #3c392a; }
  #maestro-cervecero .container-proceso {
    display: table;
    margin: 60px auto 60px auto; }
    #maestro-cervecero .container-proceso .box-proceso {
      display: block;
      margin: 0 25px 0 25px;
      height: 368px;
      float: left; }
      #maestro-cervecero .container-proceso .box-proceso img {
        margin-bottom: 50px; }
      #maestro-cervecero .container-proceso .box-proceso p {
        font-size: 0.85em;
        text-align: left; }

#nuestras-cervezas {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center;
  background: #ecd450; }
  #nuestras-cervezas h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #nuestras-cervezas h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
    #nuestras-cervezas h2::before {
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #nuestras-cervezas .border-top {
    position: absolute;
    background-image: url("../images/border-nuestras-cervezas-top.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }

#contacto {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center; }
  #contacto h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #contacto h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
    #contacto h2::before {
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #contacto .border-top {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #contacto .info-contacto {
    display: table;
    margin: 0 auto 30px auto; }
    #contacto .info-contacto .pull-left p {
      text-align: center;
      font-size: 1.1em;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      margin: 0; }
      #contacto .info-contacto .pull-left p a {
        color: #3f3a36; }
        #contacto .info-contacto .pull-left p a:hover {
          text-decoration: none; }
    #contacto .info-contacto .separe {
      margin-left: 50px; }
      #contacto .info-contacto .separe a {
        margin-top: 10px;
        display: inline-block; }
  #contacto .container-form {
    max-width: 1000px; }
    #contacto .container-form input, #contacto .container-form textarea {
      background-image: url("../images/bg-input.png");
      width: 100%;
      border: none;
      text-indent: 50px;
      padding: 28px 0;
      font-family: "Cabin", sans-serif;
      font-weight: 700;
      font-size: 1.1em;
      color: #423932;
      margin-bottom: 13px; }
      #contacto .container-form input:focus, #contacto .container-form textarea:focus {
        outline: initial; }
    #contacto .container-form input::-webkit-input-placeholder, #contacto .container-form textarea::-webkit-input-placeholder {
      color: #423932; }
    #contacto .container-form input::-moz-placeholder, #contacto .container-form textarea::-moz-placeholder {
      color: #423932; }
    #contacto .container-form input:-ms-input-placeholder, #contacto .container-form textarea:-ms-input-placeholder {
      color: #423932; }
    #contacto .container-form input:-moz-placeholder, #contacto .container-form textarea:-moz-placeholder {
      color: #423932; }
    #contacto .container-form .input-tel {
      width: 40%;
      float: left; }
    #contacto .container-form .input-mail {
      width: calc(60% - 13px);
      float: right; }
    #contacto .container-form textarea {
      height: 170px; }
    #contacto .container-form .btn-form {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      color: #3c392a;
      font-size: 1.5em; }
      #contacto .container-form .btn-form:hover {
        text-decoration: none; }
      #contacto .container-form .btn-form img {
        position: relative;
        top: -2px; }
  #contacto .border-bottom {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    bottom: -16px;
    z-index: 1;
    left: 0;
    transform: rotate(180deg); }

#donde-estamos {
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center; }
  #donde-estamos h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #3c392a; }
    #donde-estamos h2 span {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px; }
    #donde-estamos h2::before {
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  #donde-estamos .border-top {
    position: absolute;
    background-image: url("../images/border-top-withe.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0; }
  #donde-estamos #map {
    width: 100%;
    height: 500px; }

/*# sourceMappingURL=master.css.map */
