#slider{
  position: relative;
  min-height: 382px;
  background: #fff;
  .container-fluid{
    max-width: 996px;
    position: relative;
    height: 380px;
    .text{
      position: absolute;
      height: 100%;
      width: 68%;
      top: 0px;
      left: 0px;
      p{
        @include center-center;
        text-align: center;
        font-size: $size-middle;
        color: $font-marron;
        font-family: $futura-h;
        width: 724px;
      }
    }
    .image{
      position: absolute;
      height: 100%;
      width: 32%;
      top: 0px;
      right: 0px;
      img{
        @include center-center;
      }
    }
  }
  .border-bottom{
    position: absolute;
    background-image: url('../images/border-slider.svg');
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1;
  }
}
#parallax-only{
  @include parallax;
  background-image: url('../images/noche2.jpg');
  height: 485px;
}
