#slider{
  position: relative;
  min-height: 382px;
  background: #fff;
  .container-fluid{
    max-width: 996px;
    position: relative;
    height: 380px;
    .text{
      position: absolute;
      height: 100%;
      width: 68%;
      top: 0px;
      left: 0px;
      p{
        @include center-center;
        text-align: center;
        font-size: $size-middle;
        color: $font-marron;
        font-family: $futura-h;
        width: 724px;
      }
    }
    .image{
      position: absolute;
      height: 100%;
      width: 32%;
      top: 0px;
      right: 0px;
      img{
        @include center-center;
      }
    }
  }
  .border-bottom{
    position: absolute;
    background-image: url('../images/border-slider.svg');
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1;
  }
}
#parallax-only{
  @include parallax;
  background-image: url('../images/noche2.jpg');
  height: 485px;
}
#nosotros{
  .left{
    float:left;
    background: #97bebf;
    height: 440px;
    position: relative;
    width: 50%;
    .border-top{
      position: absolute;
      background-image: url('../images/nosotros-top-blue.svg');
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: cover;
      width: 100%;
      height: 32px;
      top: -32px;
      z-index: 1;
    }
    .border-bottom{
      position: absolute;
      background-image: url('../images/nosotros-top-blue.svg');
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: cover;
      width: 100%;
      height: 32px;
      bottom: -16px;
      z-index: 1;
    }
    .text{
      @include center-center;
      h2{
        font-family: $futura-h;
        font-size: $size-h2;
        color: #fff;
      }
      p{
        font-size: $size-default;
        font-family: $futura-h;
        color: #fff;
      }
    }
  }
  .right{
    float: right;
    background: #ecd450;
    height: 440px;
    position: relative;
    width: 50%;
    .border-top{
      position: absolute;
      background-image: url('../images/nosotros-top-yellow.svg');
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: cover;
      width: 100%;
      height: 32px;
      top: -32px;
      z-index: 1;
    }
    .border-bottom{
      position: absolute;
      background-image: url('../images/nosotros-top-yellow.svg');
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: cover;
      width: 100%;
      height: 32px;
      bottom: -16px;
      z-index: 1;
    }
    img{
      @include none-center;
      width: 470px;
      left: 57px;
    }
  }
}
#fotos{
  .left{
    float:left;
    position: relative;
    width: 50%;
    background-size: cover;
    background-position: right;
    background-image: url('../images/rubia.jpg');
    height: 515px;
    div{
      @include center-center;
      text-align: center;
      h2{
        color: #fff;
        font-size: $size-default;
        text-transform: uppercase;
        font-family: $futura-h;
        span{
          font-size: 3em;
        }
      }
    }
  }
  .right{
    float:right;
    position: relative;
    width: 50%;
    height: 515px;
    background: #5c8283;
    div{
      @include none-center;
      left: 120px;
      h2{
        font-family: $futura-h;
        font-size: $size-h2;
        color: #fff;
        text-transform: uppercase;
      }
      p{
        font-size: $size-default;
        font-family: $futura-h;
        color: #fff;
        margin: 0;
      }
      ul{
        li{
          list-style: none;
          font-size: $size-default;
          font-family: $futura-b;
          color: #fff;
        }
      }
    }
  }
}
