#slider{
  position: relative;
  min-height: 382px;
  background: #fff;
  .container-fluid{
    max-width: 996px;
    position: relative;
    height: 380px;
    .text{
      position: absolute;
      height: 100%;
      width: 68%;
      top: 0px;
      left: 0px;
      p{
        @include center-center;
        text-align: center;
        font-size: $size-middle;
        color: $font-marron;
        font-family: $font;
        width: 724px;
      }
    }
    .image{
      position: absolute;
      height: 100%;
      width: 32%;
      top: 0px;
      right: 0px;
      img{
        @include center-center;
      }
    }
  }
  .border-bottom{
    position: absolute;
    background-image: url('../images/border-slider.svg');
    background-repeat: repeat-x;
    background-position: 0 100%;
    width: 100%;
    height: 32px;
    bottom: -32px;
    z-index: 1;
  }
}
#parallax-only{
  @include parallax;
  background-image: url('../images/noche2.jpg');
  height: 485px;
}
#nosotros{
  .left{
    float:left;
    background: #97bebf;
    height: 440px;
    position: relative;
    width: 50%;
    .border-top{
      position: absolute;
      background-image: url('../images/nosotros-top-blue.svg');
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: cover;
      width: 100%;
      height: 32px;
      top: -32px;
      z-index: 1;
    }
    .border-bottom{
      position: absolute;
      background-image: url('../images/nosotros-top-blue.svg');
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: cover;
      width: 100%;
      height: 32px;
      bottom: -16px;
      z-index: 1;
    }
    .text{
      @include center-center;
      h2{
        font-family: $font;
        font-size: $size-h2;
        color: #fff;
      }
      p{
        font-size: $size-default;
        font-family: $font;
        color: #fff;
      }
    }
  }
  .right{
    float: right;
    background: #ecd450;
    height: 440px;
    position: relative;
    width: 50%;
    .border-top{
      position: absolute;
      background-image: url('../images/nosotros-top-yellow.svg');
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: cover;
      width: 100%;
      height: 32px;
      top: -32px;
      z-index: 1;
    }
    .border-bottom{
      position: absolute;
      background-image: url('../images/nosotros-top-yellow.svg');
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: cover;
      width: 100%;
      height: 32px;
      bottom: -16px;
      z-index: 1;
    }
    img{
      @include none-center;
      width: 470px;
      left: 57px;
    }
  }
}
#fotos{
  .left{
    float:left;
    position: relative;
    width: 50%;
    background-size: cover;
    background-position: right;
    background-image: url('../images/rubia.jpg');
    height: 515px;
    div{
      @include center-center;
      text-align: center;
      h2{
        color: #fff;
        font-size: $size-default;
        text-transform: uppercase;
        font-family: $font;
        span{
          font-size: 3em;
        }
      }
    }
  }
  .right{
    float:right;
    position: relative;
    width: 50%;
    height: 515px;
    background: #5c8283;
    div{
      @include none-center;
      left: 120px;
      h2{
        font-family: $font;
        font-size: $size-h2;
        color: #fff;
        text-transform: uppercase;
      }
      p{
        font-size: $size-default;
        font-family: $font;
        color: #fff;
        margin: 0;
      }
      ul{
        li{
          list-style: none;
          font-size: $size-default;
          font-family: $font;
          color: #fff;
        }
      }
    }
  }
}
#maestro-cervecero{
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center;
  h2{
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @include font-title(600);
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: $font-marron;
    span{
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      @include center-none;

    }
  }
  .border-top{
    position: absolute;
    background-image: url('../images/border-top-withe.svg');
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0;
  }
  p{
    color: $font-marron;
  }
  .container-proceso{
    display: table;
    margin: 60px auto 60px auto;
    .box-proceso{
      display: block;
      margin: 0 25px 0 25px;
      height: 368px;
      float: left;
      img{
        margin-bottom: 50px;
      }
      p{
        font-size: 0.85em;
        text-align: left;
      }
    }
  }
}
#nuestras-cervezas{
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center;
  background: #ecd450;
  h2{
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @include font-title(600);
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: $font-marron;
    span{
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      @include center-none;

    }
  }
  .border-top{
    position: absolute;
    background-image: url('../images/border-nuestras-cervezas-top.svg');
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0;
  }
}
#contacto{
  padding: 40px 0;
  clear: both;
  position: relative;
  text-align: center;
  h2{
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    @include font-title(600);
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: $font-marron;
    span{
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 4px;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: -13px;
      width: 43px;
      height: 7px;
      background: #3E3630;
      display: block;
      @include center-none;

    }
  }
  .border-top{
    position: absolute;
    background-image: url('../images/border-top-withe.svg');
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 32px;
    top: -16px;
    z-index: 1;
    left: 0;
  }
}
